/* You can add global styles to this file, and also import other style files */
#main .custom-breadcrumbs-new{
        background: #6a27a2;
    padding-bottom: 60px !important;
    margin-bottom: -100px !important;
}

.is-invalid {
  border-color: red !important;
}

.invalid-feedback {
    padding-left: 43px;
    color: red;
    font-size: 12px;
}